<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
     <div class="container">
        <h1>Welcome to Our Website</h1>
        <div class="buttons">
            <a href="#" class="button">Explore</a>
            <a href="#" class="button">Get Started</a>
        </div>
    </div>
</body>

</html>